Repository ahump20/lone-star-legends-championship: changes, and which pre-commit hooks are due for each by the changed paths.
All: blaze-secret-scan, blaze-file-size-check, blaze-headers-check

.pre-commit-config.yaml:

# Blaze Intelligence Pre-commit Configuration
repos:
  - repo: local
    hooks:
      - id: blaze-secret-scan
        name: Blaze Secret Pattern Scan
        entry: node scripts/pre-commit-secrets.js
        language: node
        files: \.(js|ts|json|md|html|toml|yaml|yml)$
        
      - id: blaze-file-size-check
        name: Blaze File Size Check  
        entry: node scripts/pre-commit-filesize.js
        language: node
        files: \.
        
      - id: blaze-headers-check
        name: Blaze Security Headers Check
        entry: node scripts/pre-commit-headers.js
        language: node
        files: _headers$

Upgrade visual design from basic emoji UI to modern professional interface (#25)
  images/icons.svg
  index.html
Due: blaze-secret-scan, blaze-file-size-check

Update backyard-showdown.js
  js/backyard-showdown.js
Due: blaze-secret-scan, blaze-file-size-check

Update index.html
  games/baseball/index.html
Due: blaze-secret-scan, blaze-file-size-check

Embed interactive baseball game on main page (#30)
  index.html
Due: blaze-secret-scan, blaze-file-size-check

feat: Mobile performance overhaul + original baseball game MVP
  .github/scripts/check-ip-terms.js
  .github/workflows/lighthouse-ci.yml
  CODEBASE_ANALYSIS.md
  LEGAL_COMPLIANCE.md
  apps/games/godot-bbp-native/README.md
  apps/games/godot-bbp-native/project.godot
  apps/games/phaser-bbp-web/README.md
  apps/games/phaser-bbp-web/index.html
  apps/games/phaser-bbp-web/package.json
  apps/games/phaser-bbp-web/src/config.js
  apps/games/phaser-bbp-web/src/main.js
  apps/games/phaser-bbp-web/src/scenes/BootScene.js
  apps/games/phaser-bbp-web/src/scenes/GameScene.js
  apps/games/phaser-bbp-web/src/scenes/MenuScene.js
  apps/games/phaser-bbp-web/src/scenes/UIScene.js
  apps/games/phaser-bbp-web/src/systems/BattingSystem.js
  apps/games/phaser-bbp-web/src/systems/PitchingSystem.js
  apps/og-remaster/performance-improvements.md
  assets/LICENSES.md
  docs/GAME_README.md
  docs/IMAGE_OPTIMIZATION.md
  docs/ai-assets/prompts-and-guidelines.md
  lighthouserc.json
  package.json
  public/_headers
  public/games/bbp-web/README.md
  public/games/bbp-web/index.html
  public/games/bbp-web/package.json
  public/games/bbp-web/src/config.js
  public/games/bbp-web/src/main.js
  public/games/bbp-web/src/scenes/BootScene.js
  public/games/bbp-web/src/scenes/GameScene.js
  public/games/bbp-web/src/scenes/MenuScene.js
  public/games/bbp-web/src/scenes/UIScene.js
  public/games/bbp-web/src/systems/BattingSystem.js
  public/games/bbp-web/src/systems/PitchingSystem.js
  public/games/index.html
  scripts/optimize-images.js
  sw-enhanced.js
Due: blaze-secret-scan, blaze-file-size-check, blaze-headers-check

docs: Add comprehensive PR description
  PR_DESCRIPTION.md
Due: blaze-secret-scan, blaze-file-size-check

Mobile performance upgrade and baseball game launch (#31)
  .github/scripts/check-ip-terms.js
  .github/workflows/lighthouse-ci.yml
  CODEBASE_ANALYSIS.md
  LEGAL_COMPLIANCE.md
  PR_DESCRIPTION.md
  apps/games/godot-bbp-native/README.md
  apps/games/godot-bbp-native/project.godot
  apps/games/phaser-bbp-web/README.md
  apps/games/phaser-bbp-web/index.html
  apps/games/phaser-bbp-web/package.json
  apps/games/phaser-bbp-web/src/config.js
  apps/games/phaser-bbp-web/src/main.js
  apps/games/phaser-bbp-web/src/scenes/BootScene.js
  apps/games/phaser-bbp-web/src/scenes/GameScene.js
  apps/games/phaser-bbp-web/src/scenes/MenuScene.js
  apps/games/phaser-bbp-web/src/scenes/UIScene.js
  apps/games/phaser-bbp-web/src/systems/BattingSystem.js
  apps/games/phaser-bbp-web/src/systems/PitchingSystem.js
  apps/og-remaster/performance-improvements.md
  assets/LICENSES.md
  docs/GAME_README.md
  docs/IMAGE_OPTIMIZATION.md
  docs/ai-assets/prompts-and-guidelines.md
  lighthouserc.json
  package.json
  public/_headers
  public/games/bbp-web/README.md
  public/games/bbp-web/index.html
  public/games/bbp-web/package.json
  public/games/bbp-web/src/config.js
  public/games/bbp-web/src/main.js
  public/games/bbp-web/src/scenes/BootScene.js
  public/games/bbp-web/src/scenes/GameScene.js
  public/games/bbp-web/src/scenes/MenuScene.js
  public/games/bbp-web/src/scenes/UIScene.js
  public/games/bbp-web/src/systems/BattingSystem.js
  public/games/bbp-web/src/systems/PitchingSystem.js
  public/games/index.html
  scripts/optimize-images.js
  sw-enhanced.js
Due: blaze-secret-scan, blaze-file-size-check, blaze-headers-check

[WIP] Create production ready game demo for user play (#36)
  games/baseball/index.html
  games/baseball/menu.html
  games/baseball/stadium-selector.html
  js/mlb-stadiums.js
  js/stadium-integration.js
Due: blaze-secret-scan, blaze-file-size-check

Enhance 3D stadium environment for game demo
  game-enhanced.html
Due: blaze-secret-scan, blaze-file-size-check

Update game-enhanced.html
  game-enhanced.html
Due: blaze-secret-scan, blaze-file-size-check

Enhance 3D stadium environment for game demo (#37)
  game-enhanced.html
Due: blaze-secret-scan, blaze-file-size-check

Add hyperrealistic Busch Stadium II 3D recreation with Babylon.js
  _headers
  public/stadiums/README.md
  public/stadiums/busch-stadium-ii.html
  public/stadiums/index.html
Due: blaze-secret-scan, blaze-file-size-check, blaze-headers-check

Add hyperrealistic Busch Stadium II 3D recreation with Babylon.js (#38)
  _headers
  public/stadiums/README.md
  public/stadiums/busch-stadium-ii.html
  public/stadiums/index.html
Due: blaze-secret-scan, blaze-file-size-check, blaze-headers-check

Add fully playable Busch Stadium II with integrated baseball game
  public/stadiums/busch-stadium-playable.html
  public/stadiums/index.html
Due: blaze-secret-scan, blaze-file-size-check

Design complete mobile baseball game with original IP and comprehensive documentation
  README_MOBILE_GAME.md
  apps/og-remaster/assets/audio/manifest.json
  docs/IMPLEMENTATION_GUIDE.md
  docs/MOBILE_GAME_DESIGN.md
Due: blaze-secret-scan, blaze-file-size-check

feat: launch backyard blaze league mobile experience
  apps/blaze-sports-intel/app/globals.css
  apps/blaze-sports-intel/app/layout.tsx
  apps/blaze-sports-intel/app/page.tsx
  apps/blaze-sports-intel/components/CharacterGrid.tsx
  apps/blaze-sports-intel/components/FeatureChecklist.tsx
  apps/blaze-sports-intel/components/StadiumGrid.tsx
  apps/blaze-sports-intel/components/game/BackyardLegendsGame.tsx
  apps/blaze-sports-intel/components/game/engine.ts
  apps/blaze-sports-intel/lib/characters.ts
  apps/blaze-sports-intel/lib/gameTypes.ts
  apps/blaze-sports-intel/lib/stadiums.ts
  apps/blaze-sports-intel/next-env.d.ts
  apps/blaze-sports-intel/next.config.mjs
  apps/blaze-sports-intel/tsconfig.json
  package-lock.json
  package.json
  tsconfig.json
Due: blaze-secret-scan, blaze-file-size-check

feat: launch backyard blaze league mobile experience (#40)
  apps/blaze-sports-intel/app/globals.css
  apps/blaze-sports-intel/app/layout.tsx
  apps/blaze-sports-intel/app/page.tsx
  apps/blaze-sports-intel/components/CharacterGrid.tsx
  apps/blaze-sports-intel/components/FeatureChecklist.tsx
  apps/blaze-sports-intel/components/StadiumGrid.tsx
  apps/blaze-sports-intel/components/game/BackyardLegendsGame.tsx
  apps/blaze-sports-intel/components/game/engine.ts
  apps/blaze-sports-intel/lib/characters.ts
  apps/blaze-sports-intel/lib/gameTypes.ts
  apps/blaze-sports-intel/lib/stadiums.ts
  apps/blaze-sports-intel/next-env.d.ts
  apps/blaze-sports-intel/next.config.mjs
  apps/blaze-sports-intel/tsconfig.json
  package-lock.json
  package.json
  tsconfig.json
Due: blaze-secret-scan, blaze-file-size-check

feat: add hyperrealistic busch stadium ii scene
  BLAZE_ASSET_INVENTORY.md
  apps/games/three-busch-stadium/README.md
  apps/games/three-busch-stadium/demo/index.html
  apps/games/three-busch-stadium/demo/styles.css
  apps/games/three-busch-stadium/scripts/build.mjs
  apps/games/three-busch-stadium/src/ambient.d.ts
  apps/games/three-busch-stadium/src/buschStadiumScene.ts
  apps/games/three-busch-stadium/src/index.ts
  apps/games/three-busch-stadium/src/materials.ts
  apps/games/three-busch-stadium/src/types.ts
  apps/games/three-busch-stadium/tsconfig.json
  package-lock.json
  package.json
  public/games/busch-stadium-ii/dist/buschStadiumScene.js
  public/games/busch-stadium-ii/dist/buschStadiumScene.js.map
  public/games/busch-stadium-ii/dist/index.js
  public/games/busch-stadium-ii/dist/index.js.map
  public/games/busch-stadium-ii/dist/materials.js
  public/games/busch-stadium-ii/dist/materials.js.map
  public/games/busch-stadium-ii/dist/types.js
  public/games/busch-stadium-ii/dist/types.js.map
  public/games/busch-stadium-ii/index.html
  public/games/busch-stadium-ii/styles.css
  public/games/index.html
Due: blaze-secret-scan, blaze-file-size-check

Add mobile-first PWA entry point for Sandlot Superstars baseball game (#39)
  IMPLEMENTATION_SUMMARY.md
  MOBILE_GAME_DEPLOYMENT.md
  MOBILE_GAME_README.md
  icons/.gitkeep
  icons/README.md
  manifest-mobile-game.json
  mobile-game.html
  public/games/bbp-web/phaser-bbp-web/README.md
  public/games/bbp-web/phaser-bbp-web/index.html
  public/games/bbp-web/phaser-bbp-web/package.json
  public/games/bbp-web/phaser-bbp-web/src/config.js
  public/games/bbp-web/phaser-bbp-web/src/main.js
  public/games/bbp-web/phaser-bbp-web/src/scenes/BootScene.js
  public/games/bbp-web/phaser-bbp-web/src/scenes/GameScene.js
  public/games/bbp-web/phaser-bbp-web/src/scenes/MenuScene.js
  public/games/bbp-web/phaser-bbp-web/src/scenes/UIScene.js
  public/games/bbp-web/phaser-bbp-web/src/systems/BattingSystem.js
  public/games/bbp-web/phaser-bbp-web/src/systems/PitchingSystem.js
  screenshots/.gitkeep
  screenshots/README.md
Due: blaze-secret-scan, blaze-file-size-check

Update README_MOBILE_GAME.md
  README_MOBILE_GAME.md
Due: blaze-secret-scan, blaze-file-size-check

Build original mobile baseball game (#42)
  README_MOBILE_GAME.md
  apps/og-remaster/assets/audio/manifest.json
  docs/IMPLEMENTATION_GUIDE.md
  docs/MOBILE_GAME_DESIGN.md
Due: blaze-secret-scan, blaze-file-size-check

Update .github/workflows/lighthouse.yml
  .github/workflows/lighthouse.yml
Due: blaze-secret-scan, blaze-file-size-check

Update apps/games/phaser-bbp-web/src/scenes/GameScene.ts
  apps/games/phaser-bbp-web/src/scenes/GameScene.ts
Due: blaze-secret-scan, blaze-file-size-check

Update apps/games/phaser-bbp-web/src/scenes/BootScene.js
  apps/games/phaser-bbp-web/src/scenes/BootScene.js
Due: blaze-secret-scan, blaze-file-size-check

Update apps/web/app/(marketing)/page.tsx
  apps/web/app/(marketing)/page.tsx
Due: blaze-file-size-check

Update .github/scripts/check-ip-terms.js
  .github/scripts/check-ip-terms.js
Due: blaze-secret-scan, blaze-file-size-check

Fix web-vitals: Replace inline Script with client component (#44)
  .gitignore
  apps/web/app/layout.tsx
  apps/web/components/WebVitals.tsx
Due: blaze-file-size-check
